<!-- 목표 확인 페이지-->

<h2>{{ main_goal }}</h2>

<table>
    <tr>
        <td><a href="{% url 'way_goal_input' plan_id=plan.id sub_goal_id=sub_goal_rows.0.0.id %}">{{ sub_goal_rows.0.0 }}</a></td>
        <td><a href="{% url 'way_goal_input' plan_id=plan.id sub_goal_id=sub_goal_rows.0.1.id %}">{{ sub_goal_rows.0.1 }}</a></td>
        <td><a href="{% url 'way_goal_input' plan_id=plan.id sub_goal_id=sub_goal_rows.0.2.id %}">{{ sub_goal_rows.0.2 }}</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'way_goal_input' plan_id=plan.id sub_goal_id=sub_goal_rows.1.0.id %}">{{ sub_goal_rows.1.0 }}</a></td>
        <td>{{ main_goal }}</td>
        <td><a href="{% url 'way_goal_input' plan_id=plan.id sub_goal_id=sub_goal_rows.1.1.id %}">{{ sub_goal_rows.1.1 }}</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'way_goal_input' plan_id=plan.id sub_goal_id=sub_goal_rows.1.2.id %}">{{ sub_goal_rows.1.2 }}</a></td>
        <td><a href="{% url 'way_goal_input' plan_id=plan.id sub_goal_id=sub_goal_rows.2.0.id %}">{{ sub_goal_rows.2.0 }}</a></td>
        <td><a href="{% url 'way_goal_input' plan_id=plan.id sub_goal_id=sub_goal_rows.2.1.id %}">{{ sub_goal_rows.2.1 }}</a></td>
    </tr>
</table>

<a href="{% url 'goal_edit' plan_id=plan.id %}">목표 수정하기</a><br>
<a href="{% url 'comment' plan_id=plan.id %}">댓글 쓰기</a><br>
<button onclick="copyUrl()">Copy URL</button>
<script>
    function copyUrl() {
        var url = window.location.href;
        navigator.clipboard.writeText(url).then(function() {
            alert('URL copied to clipboard!');
        }, function(err) {
            console.error('Failed to copy URL to clipboard:', err);
        });
    }
</script><button onclick="captureAndDownload()">Save as PNG</button>

<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script>
        function captureAndDownload() {
            html2canvas(document.body).then(function(canvas) {
                // Convert canvas to PNG and download it
                const downloadLink = document.createElement('a');
                downloadLink.href = canvas.toDataURL('image/png');
                downloadLink.download = 'page.png';
                downloadLink.click();
            });
        }
    </script>