<!DOCTYPE html>
<html>
<head>
    <title>Way Goal 입력</title>
</head>
<body>
    <h1>Way Goal 입력</h1>
    <h3>서브 목표: {{sub_goal.id}} {{ sub_goal.sub_goal }}</h3>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="저장">
    </form>

    <h3>Way Goals:</h3>
    <ul>
        {% for way_goal in way_goals %}
            <li>{{ way_goal.way_goal }} - {{ way_goal.way_fre }}회, {{ way_goal.way_memo }}</li>
        {% empty %}
            <li>등록된 Way Goal이 없습니다.</li>
        {% endfor %}
    </ul>
</body>
</html>
